@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: "Rubik", Inter, system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: #ffffff;
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(circle at center, var(--tw-gradient-stops));
  }
}


/* Base Animations */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spark {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
  50% {
    transform: scale(1.5);
    opacity: 0.9;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  }
}

/* Ring Animations */
.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 6s linear infinite;
}

/* Spark Animation */
.animate-spark {
  animation: spark 1.5s ease-in-out infinite alternate;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: white !important; 
}